node_modules
.next
# Keep environment variables out of version control
.env
.env.local

/app/generated/prisma
*.tsbuildinfo
build_error.txt
build_output.txt

# Protected private assets (deploy manually)
private/
.vercel
.env*.local
public/*.DS_Store
public/**/*.DS_Store
*.tiff
*.pdf
public/images/*.tiff
public/images/*.pdf
.env.test.local
